.pub-btn {
    // width: 120px;
    max-width: 200px;
    color: #409eff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
  }